
body{overflow:hidden;}

#c{border-style:solid;}
#glcanvas{border:none;}

.sb-pos-input{
  width:30px;
}

#left_col {
   float:left;
   width:200px;
}

#right_col {
   position:absolute;
   width:450px;
   left:250px;
}

#left_sub_col {
   float:left;
   width:150px;
}

#right_sub_col {
   float:right;
   width:150px;
}

#add-point-button {
   width:150px;
}


/****Jquery UI*****/

/* #feedback { font-size: 1.4em; } */
/* #selectable .ui-selecting { background: #FECA40; } */
/* #selectable .ui-selected { background: #F39814;  color: white; } */
/* #selectable { list-style-type: none; margin: 0; padding: 0; width: 10%; } */
/* #selectable li { margin: 3px; padding: 0.4em; font-size: 0.8em; height: 18px; } */


/* .draw-options { position:relative; left:150px; bottom:100px; } */
/* #button { padding: .5em 1em; text-decoration: none; } */
/* #options-container { width: 80%; height: 90px; padding: 0.4em; position: relative; } */
/* #options-container h3 { margin: 0; padding: 0.4em; text-align: center; } */