
body{overflow:hidden;}

#c{
  text-align:center;
  }

#glcanvas{border:none;}


/* .sb-pos-input{ */
/*   width:30px; */
/* } */

#tabsX {
  margin-top:20px;
  text-align:center;
  width:1400;
}


#left_col {
   margin-left:100px;
   float:left;
   width:200px;
}

#right_col {
   position:absolute;
   left:300px;
   width:800px;
}

#left_sub_col {
   padding-left:80px;
   float:left;
   width:150px;
}

#right_sub_col {
   position:relative;
   left:250px;
}

button {
 margin:10px;
}

h3 {
  font-family:calibri,arial;
}

p {
  font-family:calibri,arial;
}

/****Jquery UI*****/

/* #button { padding: .5em 1em; text-decoration: none; } */
