
body{overflow:hidden;}

#c{border-style:solid;}
#glcanvas{border:none;}

.sb-pos-input{
  width:30px;
}

#left_col {
   float:left;
   width:200px;
}

#right_col {
   position:absolute;
   left:350px;
   width:700px;
}

#left_sub_col {
   float:left;
   width:150px;
}

#right_sub_col {
   position:relative;
   left:300px;
}


/****Jquery UI*****/

/* #button { padding: .5em 1em; text-decoration: none; } */
